    {% extends 'index.html' %}
    {% block title %}{{ post.title }}{% endblock %}
    {% block content %}

    <h1>{{ post.title }}</h1>

    {% if post.header_image %}
    <img src="{{ post.header_image.url }}" class="card-img-left" alt="Thor - Imax Poster">
    {% endif %}
    <hr>
    Reviewed By: {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }}</small>
    <br/>
    <br/>
    <table class="table">
        <tbody>
        <tr></tr>
        <th scope="row">Score:</th> 
        <td>{{ post.rating }}</td>
        </tr>
        <tr>
        <th scope="row">Category:</th> 
        <td>{{ post.category }}</td>
        </tr>
        <tr>
        <th scope="row">Directed By:</th> 
        <td>{{ post.director }}</td>
        </tr>
        <tr>
        <th scope="row">Year Released:</th> 
        <td>{{ post.year }}</td>
        </tr>
        <tr>
        <th scope="row">Review:</th> 
        <td>{{ post.body | safe }}</td>
        </tr>
        </tbody>
    </table>
    <br/>
    
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <a href="{% url 'update_review' post.pk %}" class="btn btn-primary">Update</a>
        <a href="{% url 'delete_review' post.pk %}" class="btn btn-primary">Delete</a>
        {% endif %}
        {% else %}

    {% endif %}
    <br/>
<br/>
    <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
    {% endblock %}