    {% extends 'index.html' %}
    {% block title %}Delete Review{% endblock %}
    {% block content %}

    {% if user.is_authenticated and user.id == post.author.id %}
    </br>
    </br>
        <h1>Delete Review</h1>
    </br>
    </br>
        <h3>Are you sure you'd like to delete "{{ post.title }}"?</h3>
    </br>
    </br>
    <div class ="form-group">
        <form method="POST">
                
            {% csrf_token %}
            <button class="btn btn-primary">Yes, Delete Review</button>
            <br/>
            <br/>

            <a href="{% url 'article-detail' post.pk %}" class="btn btn-primary">Back</a>

    </div>
    {% else %}
        Only admins or authors are permitted to delete reviews.
    {% endif %}
    {% endblock %}